<div class="container">
  <h1>Time Sheet</h1>
  <div class="row border p-4 mt-4">
    <div class="col-md-3">
      <div class="border p-4">
        <div class="dropdown mb-4 text-center align-items-center">

          <!-- Left Drop Down Options -->
          <button class="btn btn-info dropdown-toggle w-100" type="button" data-bs-toggle="dropdown"
            aria-expanded="true">
            <i class="bi bi-calendar2-week mr-2"></i>
            <span class="ms-1 small">{{ getDropdownLabel() }}</span>
          </button>

          <!-- Calendar -->
          <ul class="dropdown-menu w-100 align-items-center" style="display: none;">
            <li><a class="dropdown-item" (click)="selectFirstHalf()">01-{{ getCurrentMonthName().substr(0,
                3) }}-{{ selectedDate.year }} to 15-{{ getCurrentMonthName().substr(0, 3) }}-{{
                selectedDate.year }}</a></li>
            <li><a class="dropdown-item" (click)="selectSecondHalf()">16-{{ getCurrentMonthName().substr(0,
                3) }}-{{ selectedDate.year }} to {{ getLastDayOfMonth() }}-{{
                getCurrentMonthName().substr(0, 3) }}-{{ selectedDate.year }}</a></li>
          </ul>
        </div>


        <!-- for calender -->
        <div class="text-center">
          <div class="align-items-center justify-content-center">
            <ngb-datepicker [displayMonths]="1" [minDate]="minDate" [maxDate]="maxDate" [outsideDays]="'visible'"
              [showWeekNumbers]="false" [(ngModel)]="selectedDate" class="custom-datepicker"
              (ngModelChange)="generateWeekButtons()">
              <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected"
                let-disabled="disabled" let-focused="focused">
                <div class="custom-day" [class.current-month]="currentMonth" [class.selected]="selected"
                  [class.highlighted]="isHighlighted(date)" [class.text-primary]="isCurrentDate(date)">
                  {{ date.day }}
                </div>
              </ng-template>
            </ngb-datepicker>
          </div>
        </div>

        <!-- Comment -->
        <div class="form-group fw-bold text-danger"><br>
          <label for="comment">Comments (Day-Activity)</label>
          <textarea class="form-control" id="comment" rows="4"></textarea>
        </div>

        <!-- legend box -->
        <div class="border legend-box">
          <span class="fw-bold">Legends</span>
          <div class="legend-row mt-3">
            <div class="legend-rectangle legend-green"></div>
            <span class="legend-label">Holiday</span>
          </div>
          <div class="legend-row">
            <div class="legend-rectangle legend-orange"></div>
            <span class="legend-label">Total</span>
          </div>
          <div class="legend-row">
            <div class="legend-rectangle legend-gray"></div>
            <span class="legend-label">Inactive cell</span>
          </div>
          <div class="legend-row">
            <span class="legend-icon">
              <i class="bi bi-plus-circle"></i>
            </span>
            <span class="legend-label">Add row</span>
          </div>
          <div class="legend-row">
            <span class="legend-icon">
              <i class="bi bi-trash"></i>
            </span>
            <span class="legend-label">Delete row</span>
          </div>
        </div>
      </div>
    </div>

    <!-- right side section -->
    <div class="col-md-9">
      <div class="border p-4 border-right-4" style="margin-left: -12px; padding-right: 20px;">
        <div class="row align-items-center">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <div class="col-auto">
                <!-- Profile Icon -->
                <img src="assets\images\photo.jpg" class="profile-photo"
                  style="width:35px; height: 40px; border-radius: 45%">
                <span class="profile-name ms-1" data-bs-toggle="tooltip" [ngbPopover]="contactCardContent"
                  data-bs-placement="bottom" data-bs-html="true" [attr.data-bs-content]="profileContent"
                  style="cursor: pointer;">Simmy
                  Sebastian</span>
              </div>

              <ng-template #contactCardContent>
                <div class="card" style="width: 15rem;">
                  <div class="card-header bg-secondary text-white">
                    <img src="assets\images\photo.jpg" class="profile-photo"
                      style="width:35px; height: 40px; border-radius: 45%">&nbsp;
                    <span class="fw-bold">Simmy Sebastian</span>
                  </div>
                  <div class="card-body pr-4">
                    <strong>Designation:</strong> Frontend Developer <br>
                    <strong>Phone:</strong> 9876543210 <br>
                    <strong>Email:</strong> simmy@gmail.com
                  </div>
                </div>
              </ng-template>
            </div>

            <div class="d-flex flex-wrap">
              <button *ngFor="let week of weeks" class="btn btn-info btn-sm m-2 rounded   "
                (click)="showDays(week)">
                {{ week.start }} {{ getCurrentMonthName() | slice:0:3 }} to {{ week.end }} {{
                getCurrentMonthName() | slice:0:3 }}
              </button>
            </div>
          </div>
          <!-- Time Sheet Table -->
          <div class="row mb-3">
            <!-- Heading Row -->
            <div class="col-2 d-flex align-items-center justify-content-start" style="height: 50px;">
              <div class="time-sheet-box">
                <span class="time-sheet-label fw-bold">Project Assigned</span>
              </div>
            </div>
            <!-- week section -->
            <div class="col-8 py-1 border-right">
              <!-- Display the days of the week inside the border-->
              <div class="d-flex ms-1 align-items-center justify-content-end">
                <ng-container *ngFor="let day of daysOfWeek">
                  <div class="text-center mx-2 text-success">
                    <div class="fw-bold">{{ day | date: 'EEE' }}</div>
                    <div class="fw-bold">{{ day | date: 'd MMM' }}</div>
                  </div>
                  <div class="ms-3"></div> <!-- Add space between days using ms-4 class -->
                </ng-container>
              </div>
            </div>

            <div class="col d-flex align-items-center justify-content-start" style="height: 50px;">
              <div class="time-sheet-box">
                <span class="time-sheet-label fw-bold">Total Hours</span>
              </div>
            </div>
          </div>

          <!-- Data Row -->
          <!-- dropdown working fine  -->
          <div class="row" *ngFor="let row of rows; let i = index" [id]="'row-' + i">
            <div class="col-2 py-2 d-flex align-items-center justify-content-start" style="margin-left: -10px;">
              <select class="form-select text-center" style="cursor: pointer;">
                <option disabled selected hidden>Select Project</option>
                <option *ngFor="let project of projects" [value]="project">{{ project }}
                </option>
              </select>
            </div>

            <div class="col-9 py-2 border-right">
              <div class="d-flex align-items-center text-start justify-content-start">
                <ng-container *ngFor="let weekDay of weekDays">
                  <input #inputField type="text" class="form-control mx-3" style="width: 60px;" pattern="[0-9]*"
                    inputmode="numeric" placeholder="0.00" (input)="calculateTotalSum()" maxlength="3">
                </ng-container>
              </div>
            </div>

            <div class="col-1 py-1 d-flex flex-column align-items-center justify-content-center">
              <div class="sum-box">
                <span class="fw-bold form-control mx-1 sum-box" id="totalSum-{{i}}">0.00</span>
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <!-- Plus icon to Add a row -->
              <button type="button" class="icon-button me-1 mt-2" (click)="addRow()"><i
                  class="bi bi-plus-circle"></i></button>
              <!-- Delete icon to Remove a row -->
              <button type="button" class="icon-button me-1 mt-2" (click)="deleteRow(i)"><i
                  class="bi bi-trash"></i></button>
            </div>
          </div>
        </div>
      </div>

      <!-- New span text box -->
      <div class="row mt-4">
        <div class="col">
          <div class="d-flex align-items-center justify-content-end">
            <div class="label-container me-3">
              <span class="label-text fw-bold fs-5">Total Working Hours:</span>
            </div>
            <div class="circle bg-success d-flex align-items-center justify-content-center"
              style="width: 80px; height: 40px; border-radius: 20px;">
              <span class="span-text fw-bold" style="color: rgb(244, 183, 92);" id="totalSum">{{ totalSumAll }}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Main Buttons -->
      <div class="d-flex justify-content-center mt-5">
        <button type="button" class="btn custom-button custom-button-back me-4">BACK</button>
        <button type="button" class="btn custom-button custom-button-save me-4">SAVE</button>
        <button type="button" class="btn custom-button custom-button-submit me-4">SUBMIT</button>
        <button type="button" class="btn custom-button custom-button-back">CANCEL</button>
      </div>
    </div>
  </div>
</div>