.container {
  margin-top: 20px;
}
/* Legend */
.legend-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.legend-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.legend-rectangle {
  width: 25px;
  height: 20px;
  margin-right: 5px;
}
.legend-green {
  background-color: rgba(109, 206, 5, 0.342);
}
.legend-orange {
  background-color: rgba(255, 166, 0, 0.333);
}
.legend-gray {
  background-color: gray;
}
.legend-icon {
  font-size: 1.3rem;
  color: #000;
  cursor: pointer;
  margin-right: 10px;
}
/* add & delete button */
.icon-button {
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
  font-size: 1.2rem;
}

/* left side transition */
.transition-left {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.slide-out-left {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-in-left {
  transform: translateX(0);
  opacity: 1;
}

/* right side transition */
.full-width {
  width: 95%;
  transition: width 0.3s ease;
}

.collapse-left {
  width: 0;
  transition: width 0.3s ease;
  overflow: hidden;

}