<section class="myform-area">
    <div class="container">
        <div class="row justify-content-center">            
            <div class="col-lg-8">
                <i class="bi bi-house-door-fill text-blue" style="font-size: 4rem;"></i>
                <label>Home</label>
                <div class="form-area login-form">
                    <div class="form-content">
                        <h2>WELCOME</h2>
                        <p>EmployMe is a secure web based application comprising of Talent Management, Employee/Vendor Communication, Vendor Management and Time Tracking features. EmployMe is a product of EmployMe LLC developed by V2Soft Inc.</p>
                        <img src="../../../assets/images/logo.png" alt="">
                    </div>
                    <div class="form-input">
                        <h2>Login Form</h2>
                        <form>
                            <div class="form-group">
                                <input type="text"  id="" name="name" required>
                                <label>User Name</label>
                            </div>
                            <div class="form-group">
                                <input type="password" id="" name="password" required>
                                <label>password</label>
                            </div>
                            <div class="myform-button">
                                <button routerLink="/dashboard" routerLinkActive="active" class="myform-btn">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>