<section class="text-center">
  <!-- Background color -->
  <div class="p-5 bg-image" style="background-color: rgb(12, 69, 5); height: 300px;"></div>

  <div class="card mx-4 mx-md-5 shadow-5-strong"
    style="margin-top: -150px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px);">
    <div class="card-body py- px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">View All My Timesheet</h2>
          <form>
            <!-- From time input -->
            <div class="row">
              <div class="col-md-6 mt-4">
                <div style="display: flex; flex-direction: column;">
                  <label for="dateRange" style="align-self: flex-start; font-weight:900;">From Date</label>
                  <div class="input-group">
                    <input type="date" class="form-control col-sm-3" id="dateRange" placeholder="Select date range"
                      [(ngModel)]="dateRange" />
                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>

              <!-- To time input -->
              <div class="col-md-6 mt-4">
                <div style="display: flex; flex-direction: column;">
                  <label for="dateRange" style="align-self: flex-start; font-weight:900;">To Date</label>
                  <div class="input-group">
                    <input type="date" class="form-control col-sm-3" id="dateRange" placeholder="Select date range"
                      [(ngModel)]="dateRange" />
                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- project input -->
            <div class="form-group mt-4">
              <div style="display: flex; flex-direction: column;">
                <label for="toDate" style="align-self: flex-start; font-weight:900;">Select Project</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option value="pending">Project 1</option>
                  <option value="inProgress">Project 2</option>
                  <option value="completed">Project 3</option>
                  <option value="inProgress">Project 4</option>
                  <option value="completed">Project 5</option>
                </select>
              </div>
            </div>

            <!-- status input -->
            <div class="form-group mt-4">
              <div style="display: flex; flex-direction: column;">
                <label for="toDate" style="align-self: flex-start; font-weight:900;">Select Status</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option value="pending">Pending</option>
                  <option value="inProgress">In Progress</option>
                  <option value="completed">Completed</option>
                </select>
              </div>
            </div>

            <!-- Submit button -->

            <div class="d-flex justify-content-center mt-4">
              <button type="button" class="btn btn-success me-4" (click)="goToSearch()">SEARCH</button>
              <button type="button" class="btn btn-danger me-4" (click)="goToDashboard()">CANCEL</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>